<% layout("/layouts/boilerplate") %>
<body>
    
       <div class="col-8 offset-3">
        <h2><b><%= list.title %></b></h2>
        </div>
        <br>
        <div class=" card col-6 offset-3">
         <img src="<%= list.image.url %>" class="card-img-top show-img" alt="listin img">
          <div class="card-body">
          <p class="card-text">
            
            Description :-<%= list.description %><br>
            Price:-₹<%= list.price.toLocaleString("en-IN") %><br>
            Location :-<%= list.location %><br>
            Country :-<%= list.country %><br>
          </p>
          </div>
        </div>

     <div class="col-1 offset-3 btns ">
        <form method="get" action="/listings/listup/<%= list.id %>">
        <button class="btn btn-dark">Edit</button>
    </form>
     <form method="post" action="/listings/list/del/<%= list.id %>?_method=delete">
        <button class="btn btn-dark btn-del ">Delete</button>
    </form>
    </div><hr>
    <div class="col-8 offset-2 mb-2 mt-3">
            <form action="/listings/<%= list.id %>/reviews" method="post"   class="needs-validation" novalidate>
               <h3 class="mt-2">Drop Your Review</h3><br>
                <label for="Comment" class="form-label">Comment</label>
                <textarea name="review[comment]" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                         Comment should be valid!
                    </div><br>
                    
                <label for="rating" class="form-label">Give ⭐</label>
                <input type="range" name="review[rating]" min="1" max="5" value="1" class="form-range"><br>
                <button class="btn btn-outline-dark">Submit</button>          
            </form>
            <hr>
            <p><b><h3>All Reviews</h3></b></p>
            <% for(let review of list.reviews) { %>
                 <div class="card col-5 ms-3 mb-3 p-3">
                    <div class="card-title"><b>Jimmy carter</b></div>
            <p>
                <%= review.comment %>
            </p>
               <h5>
                <%= review.rating %> ⭐
            </h5>
            <form action="/listings/<%= list.id %>/review/<%= review.id %>?_method=DELETE" method="post">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
             </div>
            <% } %>
        </div>
</body>
